<h3>Raw Observables Demo</h3>
<p><i>An observable is just a function</i></p>
<p *ngIf="errorMessage" class="error">{{errorMessage}}</p>

<div>
  <button (click)="v1()" title="Observable v1">v1</button>
  <button (click)="v2()" title="Observable v2">v2</button>
  <button (click)="binding()" title="Angular binding">Binding</button>
  <button (click)="v3()" title="Observable v3">v3</button>
  <button (click)="v4()" title="Observable v4">v4</button>
  <button (click)="clear()" title="Clear input">Clear</button>
</div>

<h4>{{currentDemo}}</h4>

<input (keyup)="onKey($event.target.value)"

        class="play" [class.hidden]="isHidden"
        placeholder="Type something" #input />

<ol>
  <li *ngFor="let item of items">{{item}}</li>
</ol>
