<se-neon>Hello ngConf</se-neon>
<div class="container">
  <h1 class="header">Observable samples</h1>
  <div class="buttonbar">
    <button-bar>
      <button routerLink="/" class="home">Home</button>
      <button routerLink="/movie/1" class="router">Router</button>
      <button class="toggleSwUrl" (click)="toggleSwUrl()">Toggle SwUrl</button>
    </button-bar>
  </div>
  <!-- <div class="MainHolder" [style.backgroundImage]="raki.randomImage$ | async"> -->
  <div class="MainHolder" #main>
    <router-outlet></router-outlet>
  </div>
  <footer>
    <!--
        Samples marked with * are experiments, and should not be used in production!
        -->
  </footer>
</div>
